@model IEnumerable<BarEscolarM8.Models.ProductBoughtDto>
@using System.Security.Claims

@{
    ViewData["Title"] = "Histórico de Produtos";
}


@if (!Model.Any())
{
    @if (TempData["Erro"] is string erro)
    {
        <div class="alert alert-danger text-center mb-3">
            <p class="mb-1">@erro</p>
        </div>
    }
}
else
{
    <h1 class="historico-title">Histórico — @User.FindFirst("FullName").Value</h1>

    <div class="historico-table-wrapper">
        <table class="table historico-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Qtd</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item?.Date</td>
                        <td>@item.Name</td>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.Qtd</td>
                        <td>
                            <form asp-action="DeleteOrder"
                                  asp-route-orderId="@item.OrderId"
                                  method="post"
                                  style="display:inline">
                                <button type="submit"
                                        class="admin-btn-danger"
                                        onclick="return confirm('Eliminar do Historico?')">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<center>
    <a asp-action="Index" class="btn btn-primary mt-3">
        Voltar aos Menus
    </a>
</center>