@model List<BarEscolarM8.Models.ProductDto>

<h2>Products</h2>

<a asp-action="ProductsCreate" class="btn btn-primary">Create Product</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.CategoryId</td>
                <td>@p.Price €</td>
                <td>@p.Stock</td>
                <td>@(p.IsActive == true ? "Active" : "Inactive")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-sm btn-warning">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
